{{- if ne .chezmoi.os "windows" -}}
{{-   $dest := joinPath .chezmoi.homeDir ".local" "share" "dotnet" -}}

{{-   $downloads := dict -}}
{{-   $_ := set $downloads "darwin/arm64/8" "https://download.visualstudio.microsoft.com/download/pr/d89ef89a-8e7e-4e04-b32a-8eb6d32a4409/ff889260b90ff66ec8818dd5619de64c/dotnet-sdk-8.0.201-osx-arm64.tar.gz" -}}
{{-   $_ := set $downloads "darwin/arm64/6" "https://download.visualstudio.microsoft.com/download/pr/c4bdba21-86ac-4c0b-8d65-c26459e115ee/8fcb7e012eda317486ad00d095cddba4/dotnet-sdk-6.0.419-osx-arm64.tar.gz" -}}

{{-   $_ := set $downloads "linux/arm64/8" "https://download.visualstudio.microsoft.com/download/pr/3bebb4ec-8bb7-4854-b0a2-064bf50805eb/38e6972473f83f11963245ffd940b396/dotnet-sdk-8.0.201-linux-arm64.tar.gz" -}}
{{-   $_ := set $downloads "linux/arm64/6" "https://download.visualstudio.microsoft.com/download/pr/3b18aefa-0e14-4193-a167-35e1de4cfe46/acf2b230ae3ecfbc4d5f4c20cbf97b2d/dotnet-sdk-6.0.419-linux-arm64.tar.gz" -}}

{{-   $_ := set $downloads "linux/x64/8" "https://download.visualstudio.microsoft.com/download/pr/85bcc525-4e9c-471e-9c1d-96259aa1a315/930833ef34f66fe9ee2643b0ba21621a/dotnet-sdk-8.0.201-linux-x64.tar.gz" -}}
{{-   $_ := set $downloads "linux/x64/6" "https://download.visualstudio.microsoft.com/download/pr/8828b97b-7bfd-4b1b-a646-e55bddc0d7ad/e2f7d168ad273e78fbae72ffb6d215d3/dotnet-sdk-6.0.419-linux-x64.tar.gz" -}}
#!/usr/bin/env sh
set -ex

# Ensure the directory exists.
mkdir -p "{{ $dest }}"

# Download .NET 8
curl "{{ get $downloads (print .chezmoi.os "/" .chezmoi.arch "/8") }}" | tar -C "{{ $dest }}" -xz

# Download .NET 6
curl "{{ get $downloads (print .chezmoi.os "/" .chezmoi.arch "/6") }}" | tar -C "{{ $dest }}" -xz
{{- end -}}