---
wsl: {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
email: {{ eq .chezmoi.hostname "gg-unifii" | ternary "geoff.garbers@solarafrica.com" "geoff@garbers.co.za" | quote }}
unifii: {{ eq .chezmoi.hostname "gg-unifii" }}
headless: {{ list "gg-unifii" "gg-macbook" | not (has .chezmoi.hostname) }}
personal: {{ eq .chezmoi.hostname "gg-macbook" }}

ssh_keys:
  vault: {{ get (dict "gg-unifii" "Unifii" "gg-macbook" "Personal") .chezmoi.hostname | default "" | quote }}
  item: "SSH Key"

install:
  docker: {{ list "gg-unifii" "gg-macbook" | has .chezmoi.hostname }}
