{{- $docker := false -}}{{/* true if Docker should be installed */}}
{{- $unifii := false -}}{{/* true if this machine is used for Unifii */}}
{{- $wsl := false -}}{{/* true if we're running inside WSL */}}
{{- $headless := false -}}{{/* true if machine has no keyboard/screen attached */}}
{{- $personal := false -}}
{{- $email := "geoff@garbers.co.za" -}}

{{- $os := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $os = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-   $wsl = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "gg-unifii" -}}
{{-   $email = "geoff@unifii.solar" -}}
{{-   $docker = true -}}
{{- else if eq .chezmoi.hostname "gg-macbook" -}}
{{-   $docker = true -}}
{{-   $personal = true -}}
{{- else if eq .chezmoi.hostname "gimli" -}}
{{-   $docker = true -}}
{{-   $headless = true -}}
{{- end -}}

[git]
autoCommit = false

[data]
headless = {{ $headless }}
docker = {{ $docker }}
unifii = {{ $unifii }}
personal = {{ $personal }}
email = {{ $email }}