tap "aws/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"

brew "asdf"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "fish"
brew "jq"
brew "optipng"
brew "python@3.9"
brew "sqlite"
brew "starship"
brew "telnet"
brew "yq"

# For installing PHP extensions through asdf
brew "autoconf"
brew "automake"
brew "bison"
brew "freetype"
brew "gd"
brew "gettext"
brew "icu4c"
brew "krb5"
brew "libedit"
brew "libiconv"
brew "libjpeg"
brew "libpng"
brew "libxml2"
brew "libzip"
brew "pkg-config"
brew "re2c"
brew "zlib"

{{ if eq .chezmoi.os "darwin" -}}
# macOS-only from here on.

brew "coreutils"

cask "android-file-transfer"
cask "deezer"
cask "dropbox"
cask "firefox"
cask "font-droid-sans-mono-for-powerline"
cask "google-chrome"
cask "google-cloud-sdk"
cask "jetbrains-toolbox"
cask "iterm2"
cask "obs"
cask "steam"
cask "sublime-text"
cask "transmission"
cask "vlc"
{{- end }}

cask "{{ if eq .chezmoi.os "darwin" -}} orbstack {{- else -}} docker {{- end }}"
cask "dotnet-sdk"
